<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="components/head"></div>
<body>
<div th:replace="components/nav"></div>


<div class="container my-5">
    <ul class="nav nav-tabs font-weight-bold" id="main-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab" href="#home" id="home-tab"
               role="tab"> NomeUsuário </a>
        </li>
        <li class="nav-item" role="presentation">
            <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab" href="#profile" id="profile-tab"
               role="tab"> Amigos </a>
        </li>
        <li class="nav-item" role="presentation">
            <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab" href="#contact" id="contact-tab"
               role="tab"> Favoritos </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div aria-labelledby="home-tab" class="tab-pane fade show active w-100 p-3" id="home" role="tabpanel">
            <div class="w-100 p-3 clearfix">
                <p class="text-center">“No momento em que verdadeiramente entendo meu inimigo, o suficiente para
                    derrotá-lo, então naquele mesmo momento eu também o amo.”</p>
            </div>
            <div class="d-flex justify-content-around align-self-center">
                <div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Mês</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Dia 1</th>
                            <td>Evento 1</td>
                        </tr>
                        <tr>
                            <th scope="row">Dia 2</th>
                            <td>Evento 2</td>
                        </tr>
                        <tr>
                            <th scope="row">Dia 3</th>
                            <td>Evento 3</td>
                        </tr>
                        <tr>
                            <th scope="row">Dia 4</th>
                            <td>Evento 4</td>
                        </tr>
                        <tr>
                            <th scope="row">Dia 5</th>
                            <td>Evento 5</td>
                        </tr>
                        <tr>
                            <th scope="row">Dia 6</th>
                            <td>Evento 6</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex flex-column justify-content-around align-self-center">
                    <p><i class="fas fa-users fa-lg"></i> 32 Amigos </p>
                    <p><i class="fas fa-calendar-alt fa-lg"></i> 20/10/2020 </p>
                    <p> Dia do Poeta </p>
                    <p> 293º dia do ano </p>
                </div>
            </div>
        </div>
        <div aria-labelledby="profile-tab" class="tab-pane fade" id="profile" role="tabpanel">
            <div class="d-flex flex-wrap">
                <div class="d-inline-flex justify-content-center h-100 p-3">
                    <img alt="Foto do Usuário" class="rounded-circle" height="50" th:src="@{/sources/image/icon.png}"
                         width="50"/>
                    <p class="align-self-center m-4">NomeUsuário <i class="far fa-heart"></i></p>
                </div>
                <div class="d-inline-flex justify-content-center h-100 p-3">
                    <img alt="Foto do Usuário" class="rounded-circle" height="50" th:src="@{/sources/image/icon.png}"
                         width="50"/>
                    <p class="align-self-center m-4">NomeUsuário <i class="fas fa-heart"></i></p>
                </div>
                <div class="d-inline-flex justify-content-center h-100 p-3">
                    <img alt="Foto do Usuário" class="rounded-circle" height="50" th:src="@{/sources/image/icon.png}"
                         width="50"/>
                    <p class="align-self-center m-4">NomeUsuário <i class="fas fa-heart"></i></p>
                </div>
                <div class="d-inline-flex justify-content-center h-100 p-3">
                    <img alt="Foto do Usuário" class="rounded-circle" height="50" th:src="@{/sources/image/icon.png}"
                         width="50"/>
                    <p class="align-self-center m-4">NomeUsuário <i class="far fa-heart"></i></p>
                </div>
                <div class="d-inline-flex justify-content-center h-100 p-3">
                    <img alt="Foto do Usuário" class="rounded-circle" height="50" th:src="@{/sources/image/icon.png}"
                         width="50"/>
                    <p class="align-self-center m-4">NomeUsuário <i class="far fa-heart"></i></p>
                </div>
                <div class="d-inline-flex justify-content-center h-100 p-3">
                    <img alt="Foto do Usuário" class="rounded-circle" height="50" th:src="@{/sources/image/icon.png}"
                         width="50"/>
                    <p class="align-self-center m-4">NomeUsuário <i class="fas fa-heart"></i></p>
                </div>
                <div class="d-inline-flex justify-content-center h-100 p-3">
                    <img alt="Foto do Usuário" class="rounded-circle" height="50" th:src="@{/sources/image/icon.png}"
                         width="50"/>
                    <p class="align-self-center m-4">NomeUsuário <i class="far fa-heart"></i></p>
                </div>
                <div class="d-inline-flex justify-content-center h-100 p-3">
                    <img alt="Foto do Usuário" class="rounded-circle" height="50" th:src="@{/sources/image/icon.png}"
                         width="50"/>
                    <p class="align-self-center m-4">NomeUsuário <i class="fas fa-heart"></i></p>
                </div>
                <div class="d-inline-flex justify-content-center h-100 p-3">
                    <img alt="Foto do Usuário" class="rounded-circle" height="50" th:src="@{/sources/image/icon.png}"
                         width="50"/>
                    <p class="align-self-center m-4">NomeUsuário <i class="fas fa-heart"></i></p>
                </div>
                <div class="d-inline-flex justify-content-center h-100 p-3">
                    <img alt="Foto do Usuário" class="rounded-circle" height="50" th:src="@{/sources/image/icon.png}"
                         width="50"/>
                    <p class="align-self-center m-4">NomeUsuário <i class="far fa-heart"></i></p>
                </div>
                <div class="d-inline-flex justify-content-center h-100 p-3">
                    <img alt="Foto do Usuário" class="rounded-circle" height="50" th:src="@{/sources/image/icon.png}"
                         width="50"/>
                    <p class="align-self-center m-4">NomeUsuário <i class="fas fa-heart"></i></p>
                </div>
                <div class="d-inline-flex justify-content-center h-100 p-3">
                    <img alt="Foto do Usuário" class="rounded-circle" height="50" th:src="@{/sources/image/icon.png}"
                         width="50"/>
                    <p class="align-self-center m-4">NomeUsuário <i class="far fa-heart"></i></p>
                </div>
            </div>
        </div>
        <div aria-labelledby="contact-tab" class="tab-pane fade" id="contact" role="tabpanel">
            <div class="d-flex flex-wrap">
                <div class="d-inline-flex justify-content-center h-100 p-3">
                    <img alt="Foto do Usuário" class="rounded-circle" height="50" th:src="@{/sources/image/icon.png}"
                         width="50"/>
                    <p class="align-self-center m-4">NomeUsuário <i class="fas fa-heart"></i></p>
                </div>
                <div class="d-inline-flex justify-content-center h-100 p-3">
                    <img alt="Foto do Usuário" class="rounded-circle" height="50" th:src="@{/sources/image/icon.png}"
                         width="50"/>
                    <p class="align-self-center m-4">NomeUsuário <i class="fas fa-heart"></i></p>
                </div>
                <div class="d-inline-flex justify-content-center h-100 p-3">
                    <img alt="Foto do Usuário" class="rounded-circle" height="50" th:src="@{/sources/image/icon.png}"
                         width="50"/>
                    <p class="align-self-center m-4">NomeUsuário <i class="fas fa-heart"></i></p>
                </div>
                <div class="d-inline-flex justify-content-center h-100 p-3">
                    <img alt="Foto do Usuário" class="rounded-circle" height="50" th:src="@{/sources/image/icon.png}"
                         width="50"/>
                    <p class="align-self-center m-4">NomeUsuário <i class="fas fa-heart"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>