.my-bg-white-1{background-color: #E0E0E0 !important;}
.my-bg-orange-0{background-color: #FFAB91 !important;}
.my-bg-orange-1{background-color: #FF5722 !important;}
.my-orange-1{color: #FF5722 !important;}
.my-bolder{font-weight: bold !important;}

.my-text-align {text-align: center !important;}

body {
  min-height: 100vh !important;
  background-color: #212121 !important;
}

#main-navbar {
  background-color: #ff9770 !important;
  font-size: 15pt;
}

#main-tab .nav-item a {
  color: #f1b0b7 !important;
}

#main-tab .nav-link.active,
.tab-content {
  background-color: #E0E0E0 !important;
  color: #000000 !important;
}

.clearfix {
  background-color: #FF572280 !important;
}