<head>
    <meta charset="UTF-8">
    <title>Calendário Dinâmico</title>
    <link rel="shortcut icon" th:href="@{/sources/image/icon.png}" type="image/x-icon"/>

    <!-- jQuery 3 --->
    <script th:src="@{/sources/js/jquery-3.5.1.min.js}"></script>

    <!-- BootStrap -->
    <script th:src="@{/sources/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/sources/bootstrap/css/bootstrap.min.css}">

    <!-- FontAwesome -->
    <script th:src="@{/sources/fontawesome/js/fontawesome.min.js}"></script>
    <script th:src="@{/sources/fontawesome/js/all.min.js}"></script>
    <link rel="stylesheet" th:href="@{/sources/fontawesome/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/sources/fontawesome/css/all.min.css}">

    <!-- Personalizado -->
    <script th:src="@{/sources/js/main.js}"></script>
    <link rel="stylesheet" th:href="@{/sources/css/main.css}">
</head>