.my-btn-fixed-left {
    width: 12vw;
    bottom: 50%;
}

.my-mr-100 {
    margin-right: 100px;
}
.width-index {
    width: 1400px;
}

.width-index p {
    font-size: 1.3rem !important;
}

.list-recursos {
    list-style: none;
}

.list-recursos li {
    display: flex;
    flex-direction: row;
    align-content: center;

    margin: 10px;
}

.list-recursos li i {
    font-size: 3rem;
    margin: 5px;
}

.list-recursos .tam-seta {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.list-recursos li h5 {
    display: flex;
    align-items: center;
}