<style>
    /* https://www.bootdey.com/snippets/view/bs4-beta-friend-list#css */
    .people-nearby {
        padding: 30px;
        margin-bottom: 20px;
    }

    .people-nearby .google-maps {
        height: 300px;
        width: 100%;
        border: none;
    }

    .people-nearby .nearby-user {
        padding: 20px 10px;
        border-top: 1px solid #f1f2f2;
        border-bottom: 1px solid #f1f2f2;
    }

    img.profile-photo-lg {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
</style>
<div class=" col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-sm-12">

    <form class="form-inline py-3">
        <input aria-label="Search" class="form-control col-md-10 col-sm-11 p-1" placeholder="Buscar Amigo..."
               type="search">
        <button class="btn btn-success col-md-2 col-sm-1 p-1" type="submit"><i class="fas fa-search fa-lg"></i></button>
    </form>

    <div class="people-nearby">
        <div class="nearby-user">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-9">
                    <img alt="user" class="profile-photo-lg" src="https://bootdey.com/img/Content/avatar/avatar7.png">
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <h5><a class="profile-link" href="#">Sophia Silva</a></h5>
                    <p>Assim como tudo na vida, todo início de um processo deve ser realizado com cautela.</p>
                    <!--<p class="text-muted"></p>-->
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3">
                    <button class="btn btn-info btn-circle pull-right"><i class="fas fa-user-plus fa-lg"></i></button>
                </div>
            </div>
        </div>

        <div class="nearby-user">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-9">
                    <img alt="user" class="profile-photo-lg" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <h5><a class="profile-link" href="#">Lucio Santos</a></h5>
                    <p>Aprenda a viver sem as pessoas que vivem sem você.</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3">
                    <button class="btn btn-info btn-circle pull-right"><i class="fas fa-user-plus fa-lg"></i></button>
                </div>
            </div>
        </div>

        <div class="nearby-user">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-9">
                    <img alt="user" class="profile-photo-lg" src="https://bootdey.com/img/Content/avatar/avatar5.png">
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <h5><a class="profile-link" href="#">Ariel Pereira</a></h5>
                    <p>Em um mundo feito de aparências, feliz é aquele que é feito de verdades.</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3">
                    <button class="btn btn-info btn-circle pull-right"><i class="fas fa-user-plus fa-lg"></i></button>
                </div>
            </div>
        </div>

        <div class="nearby-user">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-9">
                    <img alt="user" class="profile-photo-lg" src="https://bootdey.com/img/Content/avatar/avatar3.png">
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <h5><a class="profile-link" href="#">Ana Carol</a></h5>
                    <p>Um brinde ao que é vivido e não postado.</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3">
                    <button class="btn btn-info btn-circle pull-right"><i class="fas fa-user-plus fa-lg"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>