<div class="container">
    <div class="span3 well">
        <div class="text-center">
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="rounded-circle mt-3"></a>
            <h3 class="my-orange-1 my-3">Joe Sixpack</h3>
            <p class="container-sm text-center text-light col-lg-5 col-md-8 col-sm-11">“No momento em que verdadeiramente entendo meu inimigo, o suficiente para derrotá-lo, então naquele mesmo momento eu também o amo.”</p>
        </div>
    </div>
</div>