<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<div th:replace="components/head"></div>
<body class="d-flex my-bg-orange-0" style="min-height: 100vh">
<div class="align-self-center container-md text-center col-lg-5">
        <form class="form-signin">
            <img class="mb-4" th:src="@{/sources/image/logo-black.png}" alt="" width="50">
            <h2 class="h3 mb-3 font-weight-normal">Cadastro</h2>

            <div class="row no-gutters">
                <input name="nome" type="email" class="col-md-6 col-sm-12 form-control p-1" placeholder="Nome" required="">
                <input name="sobrenome" type="email" class="col-md-6 col-sm-12 form-control p-1" placeholder="Sobrenome" required="">
            </div>

            <input name="email" type="email" class="form-control my-1" placeholder="Email" required="">

            <input name="senha" type="password" class="form-control my-1" placeholder="Senha" required="">

            <div class="row no-gutters">
                <input type="date" class="col-md-6 col-sm-12 form-control p-1" placeholder="Data de Nascimento" >
                <select class="col-md-6 col-sm-12 form-control p-1" name="genero" required="">
                    <option disabled="" hidden="" selected="selected">Selecione seu Gênero</option>
                    <option value="m">Masculino</option>
                    <option value="f">Feminino</option>
                    <option value="o">Outro</option>
                </select>
            </div>
            <p class="text-muted m-2 text-justify">
                <i class="fas fa-exclamation-circle fa-lg"></i> Ao clicar em CADASTRAR, você esta concordando com nossos <a href="#">Termos de Uso</a>,
                <a href="#">Política de Dados</a> e <a href="#">Utilização de Cookies</a>.
                Você pode receber notificações e cancelar quando quiser.
            </p>
            <button class="btn btn-lg btn-block my-bg-orange-1 my-2" type="submit"><i class="fas fa-check-circle"></i> CADASTRAR </button>
        </form>
</div>

</body>
</html>