<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Calendário Dinâmico</title>

    <!-- jQuery 3 --->
    <script src="sources/js/jquery-3.5.1.min.js"></script>

    <!-- BootStrap -->
    <script src="sources/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="sources/bootstrap/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script src="sources/fontawesome/js/fontawesome.min.js"></script>
    <script src="sources/fontawesome/js/all.min.js"></script>
    <link rel="stylesheet" href="sources/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="sources/fontawesome/css/all.min.css">

    <!-- Personalizado -->
    <script src="sources/js/main.js"></script>
    <link rel="stylesheet" href="sources/css/main.css">
</head>
<body>
Hello World
</body>
</html>