@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{font-family: 'Comfortaa', cursive !important;}

.my-bg-orange-0{background-color: #FFAB91 !important;}
.my-bg-orange-1{background-color: #FF5722 !important;}

body {
    min-height: 100vh !important;
    background-color: #212121 !important;
}

#main-navbar {
    background-color: #ff9770 !important;
    font-size: 15pt;
}
