@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{font-family: 'Comfortaa', cursive !important;}

.my-bg-orange-0{background-color: #FFAB91 !important;}
.my-bg-orange-1{background-color: #FF5722 !important;}
