.calender-modal-container {
  width: 100vw;
  max-width: 600px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.calender-modal-background {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(83% 0, 100% 17%, 100% 100%, 0 100%, 0 0);
}

.calender-modal-styling {
  position: absolute;
  clip-path: polygon(0% 0%, 100% 100%, 0 100%);
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 17%;
  height: 17%;
}

.calender-modal-content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem 2rem 2rem;
  margin: 0;
  z-index: 10;
  overflow-y: auto;
  gap: 5px;
}

.calender-modal-edit-event-button {
  outline: none;
  border: none;
  margin-top: auto;
  margin-left: auto;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  font-size: 1rem;
}

.calender-modal-edit-event-button:hover {
  opacity: 0.8;
}

.event-field {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.event-field h2 {
  min-width: 80px;
  font-size: 0.9rem;
  color: white;
  margin: 0;
}

.modal-event-title {
  width: 60%;
  text-align: center;
}

.modal-event-title h1 {
  font-size: 1.2rem;
  color: white;
  margin: 0;
}

.calender-modal-field-value {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  margin: 0;
}

.modal-event-place {
  width: 40%;
  text-align: center;
}

.modal-event-invited-friends {
  width: 100%;
  height: 80px;
  overflow-y: auto;
}

.modal-event-description {
  width: 100%;
  height: 80px;
  overflow-y: auto;
}

.modal-event-start,
.modal-event-duration {
  text-align: center;
  width: 5rem;
  letter-spacing: 2px;
}

.carousel-container {
  width: 100%;
  height: 130px;
  overflow: hidden;
  position: relative;
}

.carousel-container:hover .friends-carousel-arrow {
  opacity: 1;
}
