.invite-buttons-container {
  position: absolute;
  top: 0rem;
  right: 0.5rem;
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.1rem;
  width: fit-content;
  flex-wrap: wrap;
}

.my-card-btn {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 576px) {
  .invite-buttons-container {
    position: relative;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
  }
}
