body{
    background-color: #212121;
    margin: 0px;
}

#logo_header {
    height: 50px;
    float: left;
}

.btn_right {
    height: 50px;
    float: right;
    margin-right: 15px;
}

#nome_header {
    font-family: 'Roboto Mono'
}

header{
    height: 50px;
    background-color: #FF9770;
    margin: 0;
    position: relative;
    width: 100%;
    padding: 5px 10px 5px 10px;
}

