:root {
    /* FullColors Customiser */
    --backgroundBack: #FF9770;
    --backgroundMedium: #212121;
    --detailsButtons: #FF5722;
    --detailsHouver: #FFC914;

    /* % Colors FIXED */
    --black: #00000070;
    --bloco: #454952;
    --bloco25: #45495225;
    --bloco50: #45495250;
    --fonte: whitesmoke;
}

* {
    font-family: 'Comfortaa', cursive;
}

.Login {
    background-color: var(--backgroundBack);

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-logo {
    height: 35vh;
    padding: 2rem;
}

.login-button {
    height: 7vh;
    min-width: 200px;
    margin: .5rem;

    background-color: var(--detailsButtons);
    border: none;
    border-radius: 5px;

    color: var(--fonte);
}

.item-container {
    display: flex;
    align-items: flex-start;
}

.item {
    width: 20px;
    height: 20px;
    border: 1px solid var(--backgroundMedium);
    border-radius: 5px;
}

.card-color {
    display: block;
    margin: 0 0 0 20px;
    border-radius: 3px;
}

.card-color>div {
    margin: 0;
    display: inline-block;
    border: 1px solid #FFFFFF;
}
/*Cores dos temas pré-fixados*/
.cor-um {
    background-color: #212121;
}
.cor-dois {
    background-color: #FF9770;
}
.cor-tres {
    background-color: #FF5722;
}
.cor-quatro {
    background-color: #FFC914;
}
.cor-cinco {
    background-color: #000000;
}
.cor-seis {
    background-color: #333333;
}
.cor-sete {
    background-color: #230517;
}
.cor-oito {
    background-color: #FFC914;
}
.cor-nove {
    background-color: #2EC4B6;
}
.cor-dez {
    background-color: #FFFFFF;
}
.cor-onze {
    background-color: #FF9F1C;
}
.cor-doze {
    background-color: #CBF3F0;
}

.config-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--backgroundMedium);
    color: #FFFFFF;
}

.perfil-config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-envio {
    min-width: 300px;
    margin: 0.3em;

    background-color: var(--detailsButtons);
    border-radius: 5px;
    border: 1px solid var(--detailsButtons);
    color: #FFFFFF;
}

input[type="phone"],
input[type="datetime-Local"],
input[type="password"],
input[type="email"],
input[type="text"] {
    min-width: 300px;
    margin: .2em;
    border-radius: 5px;
    padding: 2px;
}

input[type="color"] {
    width: 60px;
    height: 20px;
    border-radius: 3px;
    margin-left: 15px;
}