:root {
    /* FullColors Customiser */
    --backgroundBack: #FF9770;
    --backgroundMedium: #212121;
    --detailsButtons: #FF5722;
    --detailsHouver: #FFC914;

    /* % Colors FIXED */
    --black: #00000070;
    --bloco: #454952;
    --bloco25: #45495225;
    --bloco50: #45495250;
    --fonte: whitesmoke;
}

* {
    font-family: 'Comfortaa', cursive;
}

body {
    color: var(--backgroundBack);
    height: 100vh;
}

#Login {
    background-color: var(--backgroundBack);

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Login>img {
    height: 35vh;
    padding: 2rem;
}

#Login>button {
    height: 7vh;
    min-width: 200px;
    margin: .5rem;

    background-color: var(--detailsButtons);
    border: none;
    border-radius: 5px;

    color: var(--fonte);

}