:root {
    /* FullColors Customiser */
    --backgroundBack: #FF9770;
    --backgroundMedium: #212121;
    --detailsButtons: #FF5722;
    --detailsHouver: #FFC914;

    /* % Colors FIXED */
    --black: #00000070;
    --bloco: #454952;
    --bloco25: #45495225;
    --bloco50: #45495250;
    --fonte: whitesmoke;
}

* {
    font-family: 'Comfortaa', cursive;
}

.Login {
    background-color: var(--backgroundBack);

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-logo {
    height: 30vh;
    padding: 2rem;
}

.login-button {
    height: 7vh;
    min-width: 200px;
    margin: .5rem;

    background-color: var(--detailsButtons);
    border: none;
    border-radius: 5px;

    color: var(--fonte);
}

.item-container {
    display: flex;
    align-items: flex-start;
}

.item {
    width: 20px;
    height: 20px;
    border: 1px solid var(--backgroundMedium);
    border-radius: 5px;
}

.card-color {
    display: block;
    margin: 0 0 0 20px;
    border-radius: 3px;
}

.card-color>div {
    margin: 0;
    display: inline-block;
    border: 1px solid #FFFFFF;
}
/*Cores dos temas pré-fixados*/
.cor-um {
    background-color: #212121;
}
.cor-dois {
    background-color: #FF9770;
}
.cor-tres {
    background-color: #FF5722;
}
.cor-quatro {
    background-color: #FFC914;
}
.cor-cinco {
    background-color: #000000;
}
.cor-seis {
    background-color: #333333;
}
.cor-sete {
    background-color: #230517;
}
.cor-oito {
    background-color: #FFC914;
}
.cor-nove {
    background-color: #2EC4B6;
}
.cor-dez {
    background-color: #FFFFFF;
}
.cor-onze {
    background-color: #FF9F1C;
}
.cor-doze {
    background-color: #CBF3F0;
}

.config-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--backgroundMedium);
    color: #FFFFFF;
}

.perfil-config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    text-align: center;
    min-width: 250px;
    margin: 0.5em;
    background-color: var(--detailsButtons);
    border-radius: 5px;
    border: 1px solid var(--detailsButtons);
    color: #FFFFFF;
}

.btn-envio {
    min-width: 250px;
    margin: 0.5em;
    background-color: var(--detailsButtons);
    border-radius: 5px;
    border: 1px solid var(--detailsButtons);
    color: #FFFFFF;
}

input[type="phone"],
input[type="date"],
input[type="password"],
input[type="email"],
input[type="text"] {
    min-width: 250px;
    margin: 0.3em;
    border-radius: 5px;
    padding: 2px;
    background-color: transparent;
}

input[type="time"] {
    border-radius: 5px;
    padding: 2px;
    background-color: transparent;
}

input[type="color"] {
    width: 60px;
    height: 20px;
    border-radius: 3px;
    margin-left: 15px;
    background-color: var(--backgroundMedium);
}

input[type="textarea"] {
    min-width: 250px;
    height: 70px;
    border-radius: 3px;
    margin: 0.3em;
    background-color: transparent;
}

/* CSS DO MODAL */
.modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    z-index: 999999999999999;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.open {
    display: flex;
}

.modal {
    width: 60vw;
    min-width: 300px;
    height: 60vh;
    background-color: #9575CD;
    padding: .5rem;
    border: 3px solid var(--backgroundMedium);
    box-shadow: 0 0 0 10px /*#9575CD*/;
    color: #9575CD;
    font-style: var(--fonte);
    position: relative;
    display: flex;
    flex-direction: column;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.modal-container.open .modal {
    animation: modal .5s;
}

.close {
    position: absolute;
    font-size: 1.5rem;
    top: -25px;
    right: -25px;
    width: 3rem;
    height: 3rem;
    border-radius: 30%;
    border: 2px solid var(--backgroundMedium);
    color: var(--backgroundMedium);
    cursor: pointer;
    box-shadow: 0 2px 2px 0 #000;
}

.container-button {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--backgroundMedium);
}

.button {
    width: 160px;
    height: 80px;

    border-radius: 20px;
    border: 1px solid var(--detailsButtons);

    background-color: var(--detailsButtons);
    color: white;
}

.modal .modal-button {
    display: flex;
    justify-content: flex-end;
}

.modal-button > input {
    background-color: #9575CD;
    border-radius: 5px;
    border: 2px solid var(--backgroundMedium);
}

button.close {
    background-color: #9575CD;
}

/* END-CSS-MODAL */